.heading1 {
    color: palegreen !important;
}


#heading3 {
    color: blueviolet;
}



h1 {
    color: #be4631;
}

.heading4 {
    color: violet;
}




/* PRESIDENCE */

/* !important
Inline
ID
CLASS
Type */