* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bfbfc0;
    font-family: sans-serif;
    margin: 1rem;
}

h1 {
    background-color: #e1e1e2;
    color: #67635c;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
}

p {
    padding: 1.15rem 0.8rem;
    font-weight: 600;
    color: #fff;
}

p:nth-of-type(1) {
    background-color: #2784c6;
}

p:nth-of-type(2) {
    background-color: #2c93d0;
}

p:nth-of-type(3) {
    background-color: #279ed7;
}

p:nth-of-type(4) {
    background-color: #30a8de;
}

p:nth-of-type(5) {
    background-color: #58b6e6;
}

p:nth-of-type(6) {
    background-color: #71c1ec;
}

p:nth-of-type(7) {
    background-color: #87c8ee;
}

p:nth-of-type(8) {
    background-color: #1fb784;
}

p:nth-of-type(9) {
    background-color: #f5b0cd;
}

p:nth-of-type(10) {
    background-color: #f59dc1;
}

p:nth-of-type(11) {
    background-color: #f38cb3;
}

p:nth-of-type(12) {
    background-color: #f17aa5;
}

p:nth-of-type(13) {
    background-color: #ef6a98;
}

p:nth-of-type(14) {
    background-color: #f0598b;
}

p:nth-of-type(15) {
    background-color: #ed3d82;
}